  body{
    background-image: url("image/back-img.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  	font-family: Agency FB;
  }
  a{
    text-decoration:none;
  }
#navbar
{
  box-shadow: 1px 3px 5px black; 
}
.item_container
{
  height: 100%;
  margin-top:100px;
  /*padding-left: 150px;*/
  margin-bottom: 50px;
  border-radius: 30px;
  box-shadow: 8px 8px 10px black;
  background-color: rgba(39, 55, 70,0.8);
  font-size: 25px;
  color: white;
}
.item-sec
{
  margin-top: 20px;
  margin-bottom: 40px;
  /*border: 3px solid black;*/
}
.item-sec:hover
{
  
}
.round
{
  border: 2px groove white;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
}
.round:hover
{
  box-shadow: 2px 2px 40px white;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}
.option
{
  font-size: 22px;
  color: white;
}